@CHARSET "UTF-8";

body {
font-family: sans-serif;
background-color: #000;
}

h4 {
  color: #fff;
}

/* comment text */

#posts
{
  font-family: georgia,serif;
  font-size: 1.5em;
  background-color: #FFF;
  color: #000;
  padding: 1em;
}

#posts p
{
  text-align: center;
  margin-left:2em;
  margin-right:2em;
}

#posts a, #posts a:active, #posts a:visited
{
  color: #777;
  text-decoration: none;
}

#posts a:hover
{
  color: #000;
}

#index
{
  display: none;
  color: #fff;
  background-color: #000;
}

#index a:hover
{
color:#FFF;}

#t-trax a:hover
{
  color: #fff;
}

#loading {
  color: white;
  font-size: 0.8em;
}

a .index-toggle
{
  background-color: #fff;
  color: #000;
  padding: 1em;
}

#index ul
{
  list-style-type: none;
}

#title_trax
{
  font-size: 0.8em;
  color: #555;
}

/* who post it */

#author
{
  color: #444;
  font-size: 0.7em;
  font-style:italic;
  text-align:right!important;
  margin-right:75px!important;
  margin-top:-15px!important;
}

#navbar a, #navbar a:active, #navbar a:visited
{
color:#000;
text-decoration:none;
font-size:4em;
}

#navbar a:hover {color:#777;}

#navbar {padding-bottom:30px;}

#navbar .past {float:left;margin-top:-30px;margin-left:-60px;padding-top:0px;}
#navbar .nav  {float:right;margin-top:-30px;margin-right:-60px;padding-top:0px;}


#maintitle {
font-family: sans-serif;
color: #FFFFFF;
background-color: #000000;
font-size: 4em;
text-align: center;
margin-top: 0.5em;
margin-bottom: 0.5em;

}

#about {
  color:black;
  background-color: white;
  padding: 1.3em;
  text-align: center;
  font-size:0.9em;
  min-height:5em;
}

.last-update {font-size:0.8em;color:#000;margin-top:20px;}
a, a:active, a:visited {color:#777;text-decoration:none;}
a:hover {color:#000000;border-bottom:0px!important;}

/* donwload mp3 link right of player */

#mp3 {font-weight:bold;height:19px;font-size:0.5em;width:700px}
span#mp3 a, span#mp3 a:hover, span#mp3 a:visited, span#mp3 a:active {color:#000;}

img
{
  border: none;
}

/* browser track */

.number {font-weight:bold;text-transform:uppercase;font-size:0.8em;  font-family: sans-serif;color:#FFF;margin-right:10px;}
.t-trax {color:#aaa;}
span.arrow {display:none; font-weight:bold;}

#browse-all a, #browse-all a:active, #browse-all a:visited {color:#FFF; background-color:#000;}
#browse-all a:hover {color:#ddd;}

.author {visibility:hidden;}

#t-trax:hover .author {visibility:visible; color:#aaa}

#navbar {
background-color:#000;
font-size:1em;
padding:0px;
margin:0px;
}

#browse-all  {text-align:left;font-size:0.9em;font-weight:bold;text-transform:uppercase;margin-top:0px;padding-bottom:5px;}
#browse-all p {padding:0px; margin:0px;}
#browse {text-align:right;font-size:0.9em;font-weight:bold;text-transform:uppercase;margin-top:-25px;padding-bottom:5px;}

#browse input.search
{
background-color:#FFF;
border:solid 3px #000;
}

#browse input.submit
{
color: #000!important;
background-color:#FFF;
border:solid 3px #000;
}

#browse input.submit:hover 
{
color: #FFF!important;
background-color:#000;
border:solid 3px #000;
}

div.controls
{
border: solid 1px black;
background-color: #eee;
}

div.loading
{
height: 0.2em;
background-color: #333;
width: 100%;
}
div.position
{
height: 0.5em;
background-color: #ccc;
width: 0%;
}
#random.not {
  text-decoration: line-through !important;
}
div#email-subscription {
  display: none;
}