*.bak
*.orig
/src/.env
/src/apps/frontend/config/app.yml
/src/cache
/src/config/databases.yml
/src/data/sql
/src/log
/src/vendor
/src/web/avatars/*.png
/src/web/avatars/*.mp4
/src/web/tracks
/var
/src/web/avatars/_files/
/src/web/avatars/_sfpg_data/*
