# abt
/etc/prod
/src/apps/frontend/config/app.yml
/src/config/databases.yml

# composer
/vendor

# ide
*.bak
*.orig

# symfony
/src/cache
/src/data/sql
/src/log
/src/web/tracks
/src/web/avatars/*.png

# vagrant
/.vagrant

