@keyframes rotate3D {
    0% { transform: perspective(400px) rotateY(0); color: fuchsia;}
    100% { transform: perspective(400px) rotateY(360deg); color: red; background-color: black;}
}

article h1, article h2 {
    background-color: greenyellow;
    text-transform: uppercase;
    animation: rotate3D 2.6s linear infinite;
}