Options +FollowSymLinks +ExecCGI

# Deny access to MP3 leechers
Order allow,deny
Deny from mp3skull.com
Allow from all

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Back
  RewriteRule ^login$ admin_prod.php [QSA,L]

  RewriteCond %{HTTP_HOST} ^musiqueapproximative\.net$
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

  # Front
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Enabling mod_pagespeed results in wrong URLs in "Browse all tracks"
<IfModule pagespeed_module>
  ModPagespeed off
</IfModule>

# Newrelic configuration
php_value newrelic.appname "Musique Approximative"
php_value newrelic.error_collector.record_database_errors 1
php_value newrelic.framework "symfony"
